<div class="main">
    <div class="main-container">
        <div class="top">
            <div class="navigations">
                <a (click)="prevMonth()">&#10094;</a>
                <div class="month">{{curentYear}} {{curentMonth}}</div>
                <a (click)="nextMonth()">&#10095;</a>
            </div>
            
        </div>
        <table cellspacing="0">
            <thead>
                <tr *transloco="let t; read:'calendar'">
                    <th>{{t("mon")}}</th>
                    <th>{{t("tue")}}</th>
                    <th>{{t("wed")}}</th>
                    <th>{{t("thu")}}</th>
                    <th>{{t("fri")}}</th>
                    <th>{{t("sat")}}</th>
                    <th>{{t("sun")}}</th>
                </tr>
            </thead>
         <tbody>
                <tr *ngFor="let row of weeksRows; let i = index">
                    <td *ngFor="let col of [0,1,2,3,4,5,6]" (click)="showDepartures(col + row*7)" [ngClass]="{'with-departure': callendarTile[col + row*7].isDeparture}">
                            {{callendarTile[col + row*7].day}}
                    </td>
                </tr>
            </tbody>
    </table>
</div>
</div>