.main{
    display: flex;
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    height: 90vh;
}

.main-container{
    max-width: 30%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    width: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 2px rgb(52, 52, 52);
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    min-width: 250px;
   
}


.data{
    width: 46%;
    margin-top: 0;
}

#password, #register-button{
    width: 96%;
    margin-top: 0;
}

#password, #register-button, .data{
    margin-left: 2%;
    margin-right: 2%;

}


#register-button{
    background-color: rgb(52, 157, 223);
}

