<body>
  <div class="main" *transloco="let t">
    <form class="myForm" [formGroup]="registrationForm" (ngSubmit)="register()">
        <mat-form-field class="data">
            <mat-label>{{t("userData.firstName")}}</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field >
          <mat-form-field class="data">
            <mat-label>{{t("userData.lastName")}}</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.email")}}</mat-label>
            <input matInput  formControlName="email">
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.phoneNumber")}}</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
          <mat-form-field id="password">
            <mat-label>{{t("userData.password")}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.emergencyContact")}}</mat-label>
            <input matInput formControlName="emergencyPhone">
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.weight")}}</mat-label>
            <input matInput formControlName="weight" type="number">
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.license")}}</mat-label>
            <mat-select formControlName="licence">
              <mat-option value="AFF">AFF</mat-option>
              <mat-option value="Student">Student</mat-option>
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>
              <mat-option value="Coach">Coach</mat-option>
              <mat-option value="D">D</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="data">
            <mat-label>{{t("userData.role")}}</mat-label>
            <mat-select formControlName="role">
              <mat-option value="ADMIN">Admin</mat-option>
              <mat-option value="MANIFEST">Manifest</mat-option>
              <mat-option value="INSTRUCTOR">Instructor</mat-option>
              <mat-option value="TANDEM_PILOT">Tandem pilot</mat-option>
              <mat-option value="USER">USER</mat-option>
            </mat-select>
          </mat-form-field>
          <button id="register-button" mat-raised-button type="submit">{{t("register")}}</button>
    </form>
</div>
</body>