.info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    margin-top: 2%;
    background-color: rgb(253, 253, 253);
    padding: 3px;
    height: fit-content;

}

th, td{
    border: 1px solid rgb(6, 6, 6);
    width: 100px;
    text-align: center;
}

th{
    background-color: rgb(105, 122, 230);
}

.time{
    background-color: rgb(235, 235, 235);
    width: 210px;
    text-align: center;
    height: 53px;
    font-size: 30px;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0px 0px;
}

.form-row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.data{
    margin: 10px;
}

.demo-table {
    width: 100%;
    margin-top: 20px;
}

.at-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.to-delete{
    background-color: red;
}
  
