
 <div class="main-container" (mouseenter)="showButtons()" (mouseleave)="hideButtons()" *ngIf="!editable">
    <div *transloco="let t; read:'departure'">
        <div class="info">
            <h2>{{departure.date}} {{departure.time}}  {{departure.plane.name}}</h2>
        </div>
        <div class="info">
            <h3>
                {{t("skydiversAmount")}}: {{departure.skydiversAmount}} |  {{t("studentsAmount")}}: {{departure.studentsAmount}} | {{t("affAmount")}}: {{departure.affAmount}}
            </h3>
        </div>
        <div class="info">
            <h3>
                {{t("allowStudents")}}: {{departure.allowStudents}}  |  {{t("allowAFF")}}: {{departure.allowAFF}}
            </h3>
        </div>
        <div class="info">
            <h3>
                {{t("maxWeight")}}: {{departure.plane.maxWeight}}  |  {{t("totalWeight")}}: {{departure.totalWeight}}
            </h3>
        </div>
    </div>
        
        <div class="info">
            <table mat-table [dataSource]="departure.skydivers" class="mat-elevation-z8 demo-table" *transloco="let t; read: 'userData'">
              
                <!-- Name Column -->
                <ng-container matColumnDef="First Name">
                  <th mat-header-cell *matHeaderCellDef>{{t("firstName")}}</th>
                  <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Last Name">
                  <th mat-header-cell *matHeaderCellDef>{{t("lastName")}}</th>
                  <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="License">
                  <th mat-header-cell *matHeaderCellDef>{{t("license")}}</th>
                  <td mat-cell *matCellDef="let element">{{element.licence}}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="Weight">
                    <th mat-header-cell *matHeaderCellDef>{{t("weight")}}</th>
                    <td mat-cell *matCellDef="let element">{{element.weight}}</td>
                </ng-container>
                <ng-container matColumnDef="Jump Type">
                    <th mat-header-cell *matHeaderCellDef>{{t("jumpType")}}</th>
                    <td mat-cell *matCellDef="let element">{{element.jumpType}}</td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="nonEditColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: nonEditColumns;"
                ></tr>
              </table>
        </div>
       
    <div class="info" *ngIf="showButton">
        <div *transloco="let t">
            <button  (click)="openDialog()">{{t("jump")}}</button>
            <button  *ngIf="edit" (click)="editDeparture()">{{t("edit")}}</button>
        </div>
        
    </div>
</div>
<div class="main-container" *ngIf="editable" >
    <form [formGroup]="editForm">
        <div class="form-row">
            <h1 class="data">{{departure.date}}</h1>
            <input class="data" formControlName="time" class="time" matInput type="time">
        </div>
        <div class="form-row" *transloco="let t; read:'departure'">
            <mat-checkbox class="data" formControlName="allowStudents">{{t("allowStudents")}}</mat-checkbox>
            <mat-checkbox class="data" formControlName="allowAFF">{{t("allowAFF")}}</mat-checkbox>
            <mat-form-field class="data">
                <mat-label>{{t("plane")}}</mat-label>
                <mat-select matNativeControl required formControlName="planeId">
                  <mat-option *ngFor="let plane of planes" [value]="plane.id">{{plane.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </form>
    <table mat-table [dataSource]="departure.skydivers" class="mat-elevation-z8 demo-table" *transloco="let t">

      
        <!-- Name Column -->
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef>{{t("userData.firstName")}}</th>
          <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef>{{t("userData.lastName")}}</th>
          <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="License">
          <th mat-header-cell *matHeaderCellDef>{{t("userData.license")}}</th>
          <td mat-cell *matCellDef="let element">{{element.licence}}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef>{{t("userData.weight")}}</th>
            <td mat-cell *matCellDef="let element">{{element.weight}}</td>
        </ng-container>
        <ng-container matColumnDef="Jump Type">
            <th mat-header-cell *matHeaderCellDef>{{t("userData.jumpType")}}</th>
            <td mat-cell *matCellDef="let element">{{element.jumpType}}</td>
          </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef>{{t("delete")}}?</th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="!usersToDelete.has(element.id)" (click)="shouldDelete(element, element.id)">{{t("delete")}}</button>
                <button *ngIf="usersToDelete.has(element.id)" (click)="shouldDelete(element, element.id)">{{t("cancel")}}</button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="editColumns"></tr>
        <tr
            mat-row
            [class.to-delete]="usersToDelete.has(row.id)"
            *matRowDef="let row; columns: editColumns;"
        ></tr>
      </table>
    <button  *transloco="let t" (click)="cancelEditing()">{{t("cancel")}}</button>
    <button  *transloco="let t" (click)="deleteDeparture()">{{t("delete")}}</button>
    <button  *transloco="let t" (click)="save()">{{t("save")}}</button>
</div>

