<div class="main">
    <div class="main-continer" *transloco="let t">
        <button class="create-button" *ngIf="canCreate" (click)="showForm()">{{t("creatDeparture")}}</button>
        <form class="create-form" *ngIf="createDeparture" [formGroup]="createForm">
                <div class="form-row">
                    <h1 class="data">{{date}}</h1>
                    <input class="data" formControlName="time" class="time" matInput type="time" required>
                </div>
                <div class="form-row">
                    <mat-checkbox class="data" formControlName="allowStudents">{{t("departure.allowStudents")}}</mat-checkbox>
                    <mat-checkbox class="data" formControlName="allowAFF">{{t("departure.allowAFF")}}</mat-checkbox>
                    <mat-form-field class="data">
                        <mat-label>{{t("departure.plane")}}</mat-label>
                        <mat-select matNativeControl required formControlName="planeId">
                            <mat-option *ngFor="let plane of planes" [value]="plane.id">{{plane.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button (click)="cancel()">{{t("cancel")}}</button>
            <button type="submit" (click)="submit()" [disabled]="!createForm.valid">{{t("save")}}</button>
        </form>
    <app-departure class="test" *ngFor="let dep of departures" [departure]="dep" (deleteDepartureEmiter)="deleteDeparture($event)"></app-departure>
    <button class="create-button" (click)="loadDepartures()">{{t("showMoredepartures")}}</button>
</div>
</div>