body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button, .register-button {
    height: 40%;
    width: 20%;
    margin: 2%;
}

.login-button {
    background-color: rgba(108, 142, 111, 0.971);
}

.register-button {
    background-color: rgb(98, 98, 143);
}

.login-button:hover{
    cursor: pointer;
    background-color: rgba(74, 189, 84, 0.932);;
}

.register-button:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 233);
}