


<div class="m-4">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Brand</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="" class="nav-item nav-link active">Home</a>
                    <a href="menu" class="nav-item nav-link active">Menu</a>
                    <a href="profile" class="nav-item nav-link active">Profile</a>
                </div>
                <div class="nav-item dropdown text-white ms-auto" *ngIf="!isUserLoggedIn">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sign Up</a>
                    <div class="dropdown-menu">
                        <a href="login" class="dropdown-item">Login</a>
                        <a href="register" class="dropdown-item">Register</a>
                    </div>
                </div>
                <div class="navbar-nav ms-auto" *ngIf="isUserLoggedIn">
                    <a href="" class="nav-item nav-link" (click)='logout()'>Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>