.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-container {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 2px rgb(52, 52, 52);
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    min-width: 270px;
}
.tile {
    width: 96%;
    margin: 2%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.886);
    border-radius: 10px;
}

.tile:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px 4px rgba(225, 225, 168, 0.886);;
}