.main-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.data-holder {
    width: 50%;
}

.user {
    width: 100%;
    height: fit-content;
    padding: 3px;
    margin-bottom: 10px;
}